/checkpoint0epoch0.pt
/checkpoint10epoch30.pt
/checkpoint12epoch33.pt
/checkpoint13epoch35.pt
/checkpoint14epoch36.pt
/checkpoint15epoch38.pt
/checkpoint16epoch40.pt
/checkpoint17epoch41.pt
/checkpoint18epoch44.pt
/checkpoint19epoch46.pt
/checkpoint1epoch12.pt
/checkpoint20epoch47.pt
/checkpoint21epoch48.pt
/checkpoint22epoch52.pt
/checkpoint23epoch58.pt
/checkpoint24epoch60.pt
/checkpoint25epoch61.pt
/checkpoint26epoch62.pt
/checkpoint27epoch66.pt
/checkpoint28epoch67.pt
/checkpoint29epoch68.pt
/checkpoint2epoch17.pt
/checkpoint30epoch69.pt
/checkpoint31epoch73.pt
/checkpoint32epoch76.pt
/checkpoint33epoch78.pt
/checkpoint34epoch80.pt
/checkpoint35epoch85.pt
/checkpoint36epoch88.pt
/checkpoint37epoch90.pt
/checkpoint38epoch93.pt
/checkpoint39epoch96.pt
/checkpoint3epoch18.pt
/checkpoint4epoch19.pt
/checkpoint5epoch22.pt
/checkpoint6epoch24.pt
/checkpoint7epoch26.pt
/checkpoint8epoch27.pt
/checkpoint9epoch29.pt
