__pycache__
/cache
/data
/models
/metrics
notebook/plots/*
Rplots.pdf
scratch.R
scratch.Rmd
metrics.csv
metrics1.csv
position_metrics.csv
position_metrics1.csv
*.csv
*.sqlite
*.png
scratch.py
notes.md
*.log
*.pem
.aws/secrets/*
