# Deep Learning Framework
torch
torchvision
torchaudio

# Data Science & ML Libraries
numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
tqdm
dvc

# Chemistry Libraries
rdkit
selfies==2.2.0

# Big Data Processing
pyspark==3.5.0
dask
dask[distributed]

# Web & API
flask
gunicorn
psycopg
reportlab

# Cloud & Storage
boto3
pyarrow

# ML Optimizers
lion-pytorch

# Utilities
biobricks